@{
    ViewData["Title"] = "Incomes";
}

<main class="main" style="margin-top: 6rem;">
    <div class="pagetitle">
        <h1>Income</h1>
        <nav>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="">Home</a></li>
                <li class="breadcrumb-item">Income</li>
            </ul>
        </nav>
    </div>

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-tabs nav-tabs-bordered d-flex mt-2" id="borderedTabJustified" role="tablist">
                            <li class="nav-item flex-fill" role="presentation">
                                <button class="nav-link w-100 active" id="income-tab" data-bs-toggle="tab" type="button"
                                    role="tab" data-bs-target="#income-content" aria-selected="true">Income</button>
                            </li>
                            <li class="nav-item flex-fill" role="presentation">
                                <button class="nav-link w-100" id="source-tab" data-bs-toggle="tab" type="button"
                                    role="tab" data-bs-target="#source-content" aria-selected="false">Source</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2" id="myIncomeTab" role="tabpanel">
                            <div class="tab-pane fade show active" id="income-content">
                                <button class="btn btn-primary" onclick="addIncome()">
                                    <i class="bi bi-journal-plus"></i> Create New Income
                                </button>
                                <h5 class="card-title">Income</h5>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Source</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Date Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.UserIncomes != null)
                                            {
                                                @foreach (var income in ViewBag.UserIncomes)
                                                {
                                                    <tr>
                                                        <td scope="row">@income.IncomeId</td>
                                                        <td>
                                                            <script>
                                                                function truncateDescription(description, maxLength) {
                                                                    if (description.length > maxLength) {
                                                                        return description.substring(0, maxLength) + '...';
                                                                    }
                                                                    return description;
                                                                }
                                                                document.write(truncateDescription('@income.Description', 40));
                                                            </script>
                                                        </td>
                                                        <td>@income.Source.SourceName</td>
                                                        <td>@income.Amount</td>
                                                        <td>@income.Date.ToString("dd-MM-yyyy")</td>
                                                        <td>
                                                            <button data-bs-toogle="modal"
                                                                onclick="detailIncome(@income.IncomeId)"
                                                                class="btn btn-info">Detail</button>
                                                            <button data-bs-toggle="modal"
                                                                onclick="editIncome(@income.IncomeId)"
                                                                class="btn btn-warning">Edit</button>
                                                            <button data-bs-toggle="modal"
                                                                onclick="deleteIncome(@income.IncomeId)"
                                                                class="btn btn-danger">Delete</button>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="5">No data</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="source-content">
                                <button class="btn btn-primary my-2" onclick="addSource()" data-bs-toggle="modal">
                                    <i class="bi bi-journal-plus"></i> Create New Source
                                </button>
                                <h5 class="card-title">Source</h5>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Source Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.Sources != null)
                                            {
                                                @foreach (var source in ViewBag.Sources)
                                                {
                                                    <tr>
                                                        <td scope="row">@source.SourceId</td>
                                                        <td>@source.SourceName</td>
                                                        <td>
                                                            <button data-bs-toggle="modal"
                                                                onclick="editSource(@source.SourceId)"
                                                                class="btn btn-warning">Edit</button>
                                                            <button data-bs-toggle="modal"
                                                                onclick="migrateIncome(@source.SourceId)"
                                                                class="btn btn-danger">Delete</button>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="2">No data</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <partial name="createIncomeModal" />
    <partial name="detailIncomeModal" />
    <partial name="editIncomeModal" />
    <partial name="createSourceModal" />
    <partial name="editSourceModal" />
    <partial name="migrateIncomeModal" />
</main>


@section Scripts {
    <script type="text/javascript" src="~/js/income.js"></script>
    <script type="text/javascript" src="~/js/source.js"></script>
}