@{
    ViewData["Title"] = "Incomes";
}

<header>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/vendor/simple-datatables/style.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</header>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Income</h1>
        <nav>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="">Home</a></li>
                <li class="breadcrumb-item">Income</li>
            </ul>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-tabs d-flex" id="myTabJustify" role="tablist">
                            <li class="nav-item flex-fill" role="presentation">
                                <button class="nav-link w-100 active" id="income-tab" data-bs-toggle="tab" type="button"
                                    role="tab" data-bs-target="#income-content" aria-selected="true">Income</button>
                            </li>
                            <li class="nav-item flex-fill" role="presentation">
                                <button class="nav-link w-100" id="source-tab" data-bs-toggle="tab" type="button"
                                    role="tab" data-bs-target="#source-content" aria-selected="false">Source</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2" id="myIncomeTab" role="tabpanel">
                            <div class="tab-pane fade show active" id="income-content">
                                <button class="btn btn-primary" onclick="addIncome()">
                                    <i class="bi bi-journal-plus"></i> Create New Income
                                </button>
                                <h5 class="card-title">Income</h5>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Source</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Date Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.UserIncomes != null)
                                            {
                                                @foreach (var income in ViewBag.UserIncomes)
                                                {
                                                    <tr>
                                                        <td scope="row">@income.IncomeId</td>
                                                        <td>
                                                            <script>
                                                                function truncateDescription(description, maxLength) {
                                                                    if (description.length > maxLength) {
                                                                        return description.substring(0, maxLength) + '...';
                                                                    }
                                                                    return description;
                                                                }
                                                                document.write(truncateDescription('@income.Description', 20));
                                                            </script>
                                                        </td>
                                                        <td>@income.Source.SourceName</td>
                                                        <td>@income.Amount</td>
                                                        <td>@income.Date.ToString("dd-MM-yyyy")</td>
                                                        <td>
                                                            <button data-bs-toggle="modal"
                                                                onclick="editIncome(@income.IncomeId)">Edit</button>
                                                            <button data-bs-toggle="modal"
                                                                onclick="deleteIncome(@income.IncomeId)">Delete</button>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="5">No data</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="source-content">
                                <button class="btn btn-primary my-2" onclick="addSource()" data-bs-toggle="modal">
                                    <i class="bi bi-journal-plus"></i> Create New Source
                                </button>
                                <h5 class="card-title">Source</h5>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Source Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.Sources != null)
                                            {
                                                @foreach (var source in ViewBag.Sources)
                                                {
                                                    <tr>
                                                        <td scope="row">@source.SourceId</td>
                                                        <td>@source.SourceName</td>
                                                        <td>
                                                            <button data-bs-toggle="modal"
                                                                onclick="editSource(@source.SourceId)">Edit</button>
                                                            <button data-bs-toggle="modal"
                                                                onclick="deleteSource(@source.SourceId)">Delete</button>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="2">No data</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/income.js"></script>
    <script src="~/js/source.js"></script>
</main>
<div class="modal fade" id="createIncomeModal" tabindex="-1" role="dialog" aria-labelledby="createIncomeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createIncomeModalLabel">Create New Income</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createIncomeForm">
                    <div class="mb-3">
                        <label for="amount">Amount</label>
                        <input type="text" class="form-control" id="amount" placeholder="Enter amount">
                    </div>
                    <div class="mb-3">
                        <label for="sourceId">Source</label>
                        <select class="form-control" id="sourceId">
                    </div>
                    <div class="mb-3">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" id="date">
                    </div>
                    <div class="mb-3">
                        <label for="description">Description</label>
                        <textarea type="text" class="form-control" id="description" placeholder="Enter Description">
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="createIncome()">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editIncomeModal" tabindex="-1" role="dialog" aria-labelledby="editIncomeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editIncomeModalLabel">Edit Income</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="editIncomeForm">
                    <div class="form-group">
                        <label for="editIncomeId">Income Id</label>
                        <input type="text" class="form-control" id="editIncomeId" name="IncomeId" readonly />
                    </div>
                    <div class="mb-3">
                        <label for="editIncomeAmount">Amount</label>
                        <input type="text" class="form-control" id="editIncomeAmount" name="amount">
                    </div>
                    <div class="mb-3">
                        <label for="editSourceIdForIncome">Source</label>
                        <select class="form-control" id="editSourceIdForIncome">
                    </div>
                    <div class="mb-3">
                        <label for="editIncomeDate">Date</label>
                        <input type="date" class="form-control" id="editIncomeDate" name="date">
                    </div>
                    <div class="mb-3">
                        <label for="editIncomeDescription">Description</label>
                        <textarea type="text" class="form-control" id="editIncomeDescription" name="Description">
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="updateIncome()">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createSourceModal" tabindex="-1" role="dialog" aria-labelledby="createSourceModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createSourceModalLabel">Add Source</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createSourceForm">
                    <div class="form-group">
                        <label for="createSourceName">Source Name</label>
                        <input type="text" class="form-control" id="createSourceName" name="SourceName" required />
                    </div>
                    <button type="button" class="btn btn-primary" onclick="createSource()">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editSourceModal" tabindex="-1" role="dialog" aria-labelledby="editSourceModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSourceModalLabel">Edit Source</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editSourceForm">
                    <div class="form-group">
                        <label for="editSourceId">Source Id</label>
                        <input type="text" class="form-control" id="editSourceId" name="SourceId" readonly />
                    </div>
                    <div class="form-group">
                        <label for="editSourceName">Source Name</label>
                        <input type="text" class="form-control" id="editSourceName" name="SourceName" required />
                    </div>
                    <button type="button" class="btn btn-primary" onclick="updateSource()">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
