@{
    ViewData["Title"] = "Expenses";
}

<div class="pagetitle">
    <h1>Expenses</h1>
    <nav>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="">Home</a></li>
            <li class="breadcrumb-item">Expenses</li>
        </ul>
    </nav>
</div>
<section class="section dashboard">
    <div class="row">
        <!--left section-->
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-tabs nav-tabs-bordered d-flex mt-2" id="borderedTabJustified" role="tablist">
                        <li class="nav-item flex-fill" role="presentation">
                            <button class="nav-link w-100 active" id="expense-tab" data-bs-toggle="tab" type="button"
                                role="tab" data-bs-target="#expense-content" aria-selected="true">
                                Expenses</button>
                        </li>
                        <li class="nav-item flex-fill" role="presentation">
                            <button class="nav-link w-100" id="category-tab" data-bs-toggle="tab" type="button"
                                role="tab" data-bs-target="#category-content" aria-selected="false">
                                Categories
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content pt-2" id="myExpenseTab" role="tabpanel">
                        <div class="tab-pane fade show active" id="expense-content">
                            <button class="btn btn-primary" onclick="addExpense()">
                                <i class="bi bi-journal-plus"></i> Create Expense
                            </button>
                            <h5 class="card-title">Expense</h5>
                            <div class="table-responsive">
                                <table id="expenseTable" class="row-border hover " style="width:100%">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Date Time</th>
                                            <th scope="col" style="width: 153.984px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.UserExpenses != null)
                                        {
                                            @foreach (var expense in ViewBag.UserExpenses)
                                            {
                                                <tr>
                                                    <td scope="row">@expense.ExpenseId</td>
                                                    <td>
                                                        <script>
                                                            function truncateDescription(description, maxLength) {
                                                                if (description.length > maxLength) {
                                                                    return description.substring(0, maxLength) + '...';
                                                                }
                                                                return description;
                                                            }
                                                            document.write(truncateDescription('@expense.Description', 35));
                                                        </script>
                                                    </td>
                                                    <td>@expense.Category.CategoryName</td>
                                                    <td>@expense.Amount.ToString("N0", new
                                                                                                        System.Globalization.CultureInfo("id-ID"))</td>
                                            <td>@expense.Date.ToString("dd MMM yyyy")</td>
                                            <td>
                                                <button onclick="detailExpense(@expense.ExpenseId)"
                                                    class="btn btn-info ri-information-line"></button>
                                                <button onclick="editExpense(@expense.ExpenseId)"
                                                    class="btn btn-warning ri-edit-2-line"></button>
                                                <button onclick="deleteExpense(@expense.ExpenseId)"
                                                    class="btn btn-danger ri-delete-bin-line"></button>
                                            </td>
                                        </tr>
                                                                                }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="5">No data Found</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="category-content">
                            <button class="btn btn-primary mt-2" onclick="addCategory()" data-bs-toggle="modal">
                                <i class="bi bi-joural-plus"></i>Create New Category
                            </button>
                            <h5 class="card-title">Category</h5>
                            <div class="table-responsive">
                                <table class="table table-striped">

                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Category Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.UserCategory != null)
                                        {
                                            @foreach (var category in ViewBag.UserCategory)
                                            {
                                                <tr>
                                                    <td scope="row">@category.CategoryId</td>
                                                    <td>@category.CategoryName</td>
                                                    <td>
                                                        <button class="btn btn-warning ri-information-line"
                                                            data-bs-toggle="modal"
                                                            onclick="editCategory(@category.CategoryId)"></button>
                                                        <button class="btn btn-danger ri-delete-bin-line" data-bs-toggle="modal"
                                                            onclick="migrateExpense(@category.CategoryId)"></button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="2">No data</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Report Expense (Moved here) -->
            <div class="card">
                <div class="filter">
                    <a class="icon" href="javascript:void(0);" data-bs-toggle="dropdown"><i
                            class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                        </li>
                        <li><a class="dropdown-item" href="javascript:void(0);" onclick="updateChart('daily')">Today</a>
                        </li>
                        <li><a class="dropdown-item" href="javascript:void(0);" onclick="updateChart('weekly')">This
                                Week</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0);" onclick="updateChart('monthly')">This
                                Month</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Report <span>| Expense</span></h5>
                    <canvas id="lineChart" style="max-height: 400px;"></canvas>
                </div>
            </div>
        </div>
        <!-- Right side columns -->
        <div class="col-lg-4">
            <!-- Report Expense by Category -->
            <div class="card">
                <div class="filter">
                    <a class="icon" href="javascript:void(0);" data-bs-toggle="dropdown"><i
                            class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                        </li>
                        <li><a class="dropdown-item" href="javascript:void(0);"
                                onclick="updateCategoryChart('daily')">Today</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0);"
                                onclick="updateCategoryChart('weekly')">This Week</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0);"
                                onclick="updateCategoryChart('monthly')">This Month</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0);"
                                onclick="updateCategoryChart('yearly')">This Year</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Report Expense <span>| by Category</span></h5>
                    <div id="incomeBySourceChart" style="min-height: 400px;" class="echart"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<partial name="createCategoryModal"></partial>
<partial name="editCategoryModal"></partial>
<partial name="createExpenseModal"></partial>
<partial name="editExpenseModal"></partial>
<partial name="detailExpenseModal"></partial>
<partial name="migrateExpenseModal"></partial>


@section scripts {
    <script type="text/javascript" src="~/js/category.js"></script>
    <script type="text/javascript" src="~/js/expense.js"></script>
    <script type="text/javascript" src="~/vendor/chart.js/chart.umd.js"></script>
    <script type="text/javascript" src="~/js/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#expenseTable').DataTable();
            getExpenseChartByCategory();
            updateChart('daily');
        });
    </script>
}