@using Microsoft.AspNetCore.Identity
@using MyPrivateManager.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item dropdown pe-5">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="~/img/profile-img.jpeg" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-4">@UserManager.GetUserName(User)</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>@UserManager.GetUserName(User)</h6>
                        <span>Your Job</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="dropdown-item d-flex align-items-center">
                        <i class="bi bi-person"></i>
                        <span>My Profile</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout"
                        asp-route-returnUrl="@Url.Action("Index","home", new { area = ""})">
                        <button class="dropdown-item d-flex align-items-center" id="logout" type="submit">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>LogOut</span>
                        </button>
                    </form>
                </ul>
            </li>
            @* <li class="nav-item dropdown pe-3">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index"
        title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
        asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
        </li> *@
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
</nav>
